.card {
  flex-basis: calc(100% / 3 - 20px);
  margin: 15px;
  border: solid 3px #323330;
  background-color: #f0db4f;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.card.search,
.card.last-read {
  background-color: #323330;
}

.card:nth-child(3n - 2) {
  margin-left: 0;
}

.card:nth-child(3n) {
  margin-right: 0;
}

.card a {
  display: block;
  color: #323330;
  text-decoration: none;
  width: 100%;
}

.card.search a,
.card.last-read a {
  color: #f0db4f;
}

.card a h4 {
  padding: 25px;
  font-size: 20px;
}

.card img {
  width: 25px;
  margin-right: 25px;
}

@media only screen and (max-width: 1200px) {
  .card {
    flex-basis: calc(100% / 2 - 20px);
  }

  .card:nth-child(3n - 2),
  .card:nth-child(3n) {
    margin: 15px;
  }

  .card:nth-child(2n) {
    margin-right: 0;
  }

  .card:nth-child(2n - 1) {
    margin-left: 0;
  }
}

@media only screen and (max-width: 767px) {
  .card {
    flex-basis: calc(100% / 2 - 7.5px);
    margin: 7.5px;
  }

  .card:nth-child(3n - 2),
  .card:nth-child(3n) {
    margin: 7.5px;
  }

  .card:nth-child(2n - 1) {
    margin-left: 0;
  }

  .card:nth-child(2n) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 661px) {
  .card:nth-child(n) {
    flex-basis: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
