.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 100px;
  background-color: #323330;
  color: #fff;
}

.footer .foot {
  flex: 1;
}

.footer .foot a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px dashed #fff;
}

.footer .foot h3 {
  margin-bottom: 15px;
}

.footer .foot.about {
  margin-right: 15px;
}

.footer .foot.foot-child {
  display: flex;
}

.footer .foot.foot-child .child {
  flex: 1;
  margin: 0 5px;
}

.footer .foot.foot-child .child h3 {
  margin-bottom: 15px;
}

.footer .foot.foot-child .child ul {
  list-style: none;
}

.footer .foot.copyright {
  margin-left: 15px;
}

.footer .foot.copyright img {
  width: 80px;
}

.footer .foot.copyright p {
  margin-top: 15px;
}

.footer .foot.copyright p span {
  color: #f44336;
  font-size: 22px;
}

.footer .foot.copyright p a {
  display: inline-block;
  border: none;
  background-color: #f0db4f;
  color: #323330;
  padding: 0 10px;
  font-weight: bolder;
  border-radius: 4px;
}

@media only screen and (max-width: 1200px) {
  .footer {
    padding: 100px 50px;
  }
}

@media only screen and (max-width: 991px) {
  .footer {
    padding: 50px 25px;
  }
}

@media only screen and (max-width: 767px) {
  .footer .foot.about {
    flex: 1 1 100%;
    margin-bottom: 50px;
  }

  .footer .foot.copyright {
    flex: 1 1 100%;
    margin-top: 50px;
    text-align: center;
  }
}

@media only screen and (max-width: 661px) {
  .footer {
    text-align: center;
  }

  .footer .foot.foot-child {
    flex-wrap: wrap;
  }

  .footer .foot.foot-child .child {
    flex: 1 1 100%;
    margin-bottom: 15px;
  }
}
