.intro {
  background: #f0db4f;
  height: auto;
  min-height: auto;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  border-top: solid 3px #323330;
  border-bottom: solid 3px #323330;
}

.intro.home {
  height: 100vh;
  min-height: 630px;
}

.intro .intro-area {
  flex: 1;
  display: flex;
  transition: 0.2s all;
}

.intro .intro-area .intro-main {
  flex: 2;
  align-self: center;
}

.intro .intro-area .intro-main .intro-text {
  margin-bottom: 10px;
}

.intro .intro-area .intro-main .intro-text h2 {
  font-size: 52px;
  color: #323330;
}

.intro .intro-area .intro-main .intro-text p {
  font-size: 26px;
  color: #323330;
}

.intro .intro-area .intro-main .search input {
  display: block;
  width: 60%;
  border: 3px solid #323330;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 4px;
}

.intro .intro-area .intro-main .search p {
  margin-top: 5px;
}

.intro .intro-area .intro-main .search p span {
  font-size: 18px;
}

.intro .intro-area .intro-book {
  flex: 1;
  align-self: center;
}

.intro .action-area {
  flex: 1;
}

.intro .intro-book {
  position: relative;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.intro .intro-book::after {
  border-radius: 100%;
  position: absolute;
  content: '';
  height: 40px;
  bottom: -100px;
  width: 260px;
  transform: translateX(-50%);
  background: #000;
  filter: blur(50px);
  animation: shadowAnimation 1.5s infinite linear alternate;
}

@keyframes shadowAnimation {
  from {
    transform: translateX(-50%) scale(0.6);
  }
  to {
    transform: translateX(-50%) scale(1);
  }
}

@keyframes bookAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-45px);
  }
}

.intro .intro-book:focus {
  outline: none;
}

.intro .intro-book img {
  height: 260px;
  animation: bookAnimation 1.5s infinite alternate;
}

@media only screen and (max-width: 1200px) {
  .intro {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 991px) {
  .intro {
    padding: 0 25px;
  }

  .intro .intro-area .intro-main {
    flex: 1;
  }

  .intro .intro-area .intro-main .search input {
    width: 100%;
  }
}

@media only screen and (max-width: 661px) {
  .intro.home {
    height: auto;
  }

  .intro .intro-area {
    flex-direction: column;
  }

  .intro .intro-area .intro-main {
    flex: 1 1 100%;
    text-align: center;
  }

  .intro .intro-area .intro-book {
    padding: 60px 0;
  }
  .intro .intro-area .intro-book img {
    height: 180px;
  }

  .intro .intro-book::after {
    bottom: 0;
  }

  .intro .intro-area .intro-main .intro-text h2 {
    font-size: 42px;
  }

  .intro .intro-area .intro-main .intro-text p {
    font-size: 22px;
  }

  .intro .intro-area .intro-main .search input {
    font-size: 16px;
  }

  .intro .intro-area .intro-main .search p span {
    font-size: 14px;
  }
}

.book-info {
  position: fixed;
  background-color: #fff;
  padding: 25px;
  bottom: -10px;
  right: 100px;
  width: 360px;
  border: solid 3px #333;
  border-radius: 4px;
  transform: translateY(100%);
  transition: 0.2s all;
}

.book-info.showed {
  transform: translateY(0);
}

.book-info button {
  position: absolute;
  right: 25px;
  bottom: 15px;
  background-color: #333;
  border: none;
  color: #f0db4f;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  .book-info {
    width: calc(100% - 50px);
    right: 25px;
  }
}
