h1 {
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
  margin-bottom: 15px;
}

h4 {
  font-size: 28px;
  margin-bottom: 15px;
}

h5 {
  font-size: 26px;
  margin-bottom: 15px;
}

h6 {
  font-size: 24px;
  margin-bottom: 15px;
}

a {
  color: #323330;
  text-decoration: underline;
}

p,
.section-divider {
  font-size: 22px;
  color: #323330;
  margin-bottom: 15px;
  line-height: 1.8;
}

ul {
}

li {
  margin-top: 15px;
  font-size: 22px;
  margin-left: 25px;
}

code {
  font-size: 18px;
}

pre {
  margin: 50px 0;
  font-size: 18px;
  flex: 1;
}

figure {
  margin: 0;
  text-align: center;
  padding: 50px 0;
}

img {
}
